.score {
  display: flex;
  gap: 16px;
  color: #fffbeb;
  font-size: 1.6rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  gap: 16px;
}
