.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  background-color: #fffbeb;
  border-radius: 4px;
  padding: 16px;
  gap: 16px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  font-weight: bold;
  color: #1b1c1d;
  border: 1px solid #ffcc00;
  border-radius: 4px;
}

.pokemon-card:hover {
  box-shadow: 0px 0px 16px 4px rgba(255, 204, 0, 0.4);
  cursor: pointer;
}

.pokemon-name {
  min-width: 100%;
  border-top: 1px solid rgb(255, 204, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

@media (max-width: 570px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 415px) {
  .pokemon-card {
    width: 88px;
  }
}
